<div class="banner">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('planning.jpg') %>); width: 100%;">    <div class="banner-title">
      <h1>Bienvenue sur Daily planner</h1>
      <%= link_to "Gerer mon planning", tasks_path(), class: "button" %>
    </div>
  </div>
</div>
