<h1>Planning</h1>

<%= link_to "Nouvelle tâche", new_task_path() %>

<div class="planning">
  <div class="day">
    <%= link_to "ss",%>
    <p class="day-title">Lundi</p>
  </div>
  <div class="day">
    <p class="day-title">Mardi</p>
  </div>
  <div class="day">
    <p class="day-title">Mercredi</p>
  </div>
  <div class="day">
    <p class="day-title">Jeudi</p>
  </div>
  <div class="day">
    <p class="day-title">Vendredi</p>
  </div>
</div>
