<h1>Planning</h1>

<%= link_to "Nouvelle tâche", new_task_path(), class: "button" %>
<%= Date.today %>
<div class="planning">
<% ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi"].each do |day| %>
  <div class="day">
    <p class='day-title'><%= day %></p>
    <% (7..19).each do |hour| %>
      <div class='hour'><%= hour %></div>
    <% end %>
  </div>
<% end %>
</div>
