form {
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 0 15px 0px rgba(100, 100, 100, 0.2);
  margin-top: 16px;

  h1 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
