.planning {
  margin: 8px 24px ;
  display: flex;
}

.week {

}

.day {
  margin-right: 8px;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.day-title {
  margin-right: 8px;
  background-color: #E25E3E;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
