.planning {
  margin: 8px 0px ;
  display: flex;
}

.hour {
  border-top: solid 1px rgba(150,150,150,1);
  flex-grow: 1;
  text-align: initial;
  display: flex;
  align-items: center;
}

.day {
  margin-right: 8px;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  height: 80vh;
  transition: 250ms;
  display: flex;
  flex-direction: column;

  &:hover {
    width: 200vw;
  }
}

.day-title {
  margin-right: 8px;
  background-color: #E25E3E;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
